<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Doccure</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />

  <base href="/">
  <link href="assets/img/favicon.png" rel="icon" />

  <link rel="stylesheet" href="assets/css/bootstrap.min.css" />

  <link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css" />
  <link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css" />

  <link rel="stylesheet" href="assets/plugins/jquery-ui/jquery-ui.min.css" />

  <link rel="stylesheet" href="assets/css/style.css" />


</head>

<body>
  <div class="main-wrapper">
    <header class="header">
      <nav class="navbar navbar-expand-lg header-nav">
        <div class="navbar-header">

          <a href="/" class="navbar-brand logo">
            <img src="assets/img/logo.png" class="img-fluid" alt="Logo" />
          </a>
        </div>
        <div class="main-menu-wrapper">
          <div class="menu-header">
            <a href="/" class="menu-logo">
              <img src="assets/img/logo.png" class="img-fluid" alt="Logo" />
            </a>

          </div>
        </div>
        <ul class="nav header-navbar-rht">
          <li class="nav-item contact-item">
            <div class="header-contact-img">
              <i class="far fa-hospital"></i>
            </div>
            <div class="header-contact-detail">
              <p class="contact-header">Contact</p>
              <p class="contact-info-header">+250 784 200 694</p>
            </div>
          </li>

          <li class="nav-item dropdown has-arrow logged-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <span class="user-img">
                <img class="rounded-circle" src="assets/img/patients/patient.jpg" width="31" alt="Ryan Taylor" />
              </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="user-header">
                <div class="avatar avatar-sm">
                  <img src="assets/img/patients/patient.jpg" alt="User Image" class="avatar-img rounded-circle" />
                </div>
                <div class="user-text">
                  <h6>Richard Wilson</h6>
                  <p class="text-muted mb-0">Patient</p>
                </div>
              </div>
              <a class="dropdown-item" href="patient-dashboard">Dashboard</a>
              <a class="dropdown-item" href="profile-settings">Profile Settings</a>
              <a class="dropdown-item" href="login">Logout</a>
            </div>
          </li>
        </ul>
      </nav>
    </header>

    <div class="breadcrumb-bar">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-md-12 col-12">
            <nav aria-label="breadcrumb" class="page-breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Medical Details
                </li>
              </ol>
            </nav>
            <h2 class="breadcrumb-title">Medical Details</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
            <div class="profile-sidebar">
              <div class="widget-profile pro-widget-content">
                <div class="profile-info-widget">
                  <a href="#" class="booking-doc-img">
                    <img src="assets/img/patients/patient.jpg" alt="User Image" />
                  </a>
                  <div class="profile-det-info">
                    <h3>Richard Wilson</h3>
                    <div class="patient-details">
                      <h5>
                        <i class="fas fa-birthday-cake"></i> 24 Jul 1983, 38
                        years
                      </h5>
                      <h5 class="mb-0">
                        <i class="fas fa-map-marker-alt"></i> Newyork, USA
                      </h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="dashboard-widget">
                <nav class="dashboard-menu">
                  <ul>
                    <li>
                      <a href="patient-dashboard">
                        <i class="fas fa-columns"></i>
                        <span>Dashboard</span>
                      </a>
                    </li>

                    <li>
                      <a href="medical-records">
                        <i class="fas fa-clipboard"></i>
                        <span>Add Medical Records</span>
                      </a>
                    </li>
                    <li class="active">
                      <a href="medical-details">
                        <i class="fas fa-file-medical-alt"></i>
                        <span>Medical Details</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>

          <div class="col-md-7 col-lg-8 col-xl-9">
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title float-left">Medical details</h4>

                    <div class="card-body">
                      <div class="card card-table mb-0">
                        <div class="card-body">
                          <div class="table-responsive">
                            <table class="table table-hover table-center mb-0">
                              <thead>
                                <tr>
                                  <th>#</th>
                                  <th>Record_title</th>
                                  <th>RecDate</th>
                                  <th>Patient_Id</th>
                                  <th>R_PreExistingCondition</th>
                                  <th> R_PrevSurgeries</th>
                                  <th>R_Insurance</th>
                                  <th> R_ExtraInfo </th>
                                  <th>Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                {{#each allRecords}}
                                <tr>
                                  <th scope="row">{{this.Record_Id}}</th>
                                  <td>{{this.Record_title}}</td>
                                  <td>{{this.RecDate}}</td>
                                  <td>{{this.Patient_Id }}</td>
                                  <td>{{this.R_PreExistingCondition }}</td>
                                  <td>{{this.R_PrevSurgeries }}</td>
                                  <td>{{this.R_Insurance}}</td>
                                  <td>{{this.Action}}</td>
                                  <td>
                                    <div class="table-action">
                                      <a href="#edit_medical_form" class="btn btn-sm bg-info-light" data-toggle="modal">
                                        <i class="fas fa-edit"></i> Edit
                                      </a>
                                      <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                        <i class="fas fa-trash-alt"></i> Delete
                                      </a>
                                    </div>
                                  </td>
                                </tr>
                                {{/each}}